@page
@using Entities;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <ul>
    @foreach (TournamentResult tournamentResult in Model.TournamentResults)
    {
         <li class="page-link" onclick="location.href = '@(Url.Action("Details", "Tournament", new { id = tournamentResult.TournamentHeldAt.Ticks }))'" >@tournamentResult.TournamentOverviewDescription()</li>
    }
    </ul>
</div>



